* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2D7053;
  padding: 30px;
}

nav div img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

nav div span {
  color: white;
  font-size: 1.2rem;
  display: inline-block;
  margin-left: 40px;
}

nav i {
  color: #fff;
  font-size: 50px;
  align-self: center;
}